<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<body>
	<footer th:fragment="footer" class="footer py-3 " style="background-color: black;">

	<div class="container text-muted" style="color: white" align= "center" >
    <p class="float-end mb-1">
      <a href="https://virtual.unju.edu.ar/course/view.php?id=519" style="font-family: century gothic;">Fi UNJu</a>
    </p>
    <h5 style="font-family: century gothic;">Herramientas Informaticas Avanzadas &copy;</h5>

    
    <h5 style="font-family: century gothic;">Grupo: Web Crafters 2023</h5>
    
    <a name="info404"  /> <!-- usado como referecias para hubicar la pagina -->
    
    
    <h5 style="font-family: century gothic;">Alumnos: Chaile, Andrés | Corimayo Mollo, Joaquín Facundo Elías | Gutierrez, Karen | Mercado, Cesar</h5>
    
    <a href="https://www.youtube.com/watch?v=2RicaUqd9Hg&ab_channel=TheBeatles-Topic" target="_blank"><img alt="Youtube_Fake" src="/image/rede_sociales/youtube.png" width=32 height=32  /></a>
    <a href="https://github.com/cesarM10/tpFinalHIA23" target="_blank"><img alt="GitHub" src="/image/rede_sociales/github.png" width=32 height=32  /></a>
    <!-- <a href="https://discord.gg/2hzT2Bsa" target="_blank"><img alt="Discore" src="/image/rede_sociales/discord.png" width=32 height=32  /></a> -->
  </div>
		
		
		
	</footer>
	
	
</body>
</html>