<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<body>
	<aside th:fragment="publicidad" class="d-none d-lg-block">
		<!-- se creo un # con enlace a un video de youtube -->
		
		<!-- publidad de youtube de Gettin starting -->
			<div>
				<iframe width="260" height="215" src="https://www.youtube.com/embed/liqoMjRT81A" title="&quot;Getting Started&quot; - 33 Exotic &amp; Classic Cars Roar to Life (Engines Revving)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>
		<!-- Musica de Kobra kai de Spotify -->	
			
		<!-- Discore del grupo -->
	    	
			
			<!-- Publicidad all new nitto -->
	    	<div>
				<iframe width="260" height="315" src="https://www.youtube.com/embed/-dm9_waEho4?si=YE8-hV9YRMArv0ey" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
			</div>	
	
	</aside>
</body>
</html>