<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<body>
	<aside th:fragment="publicidad" class="d-none d-lg-block">
		<!-- se creo un # con enlace a un video de youtube -->
		<p ><a href="https://www.youtube.com/watch?v=SYeoQsykyOA" target="_blank">#El dolor no existe en este dojo</a></p>
		
		<!-- publidad de youtube de Laruso -->
			<div>
				<iframe width="260" height="215" src="https://www.youtube.com/embed/l2t7qNQBthk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		<!-- Musica de Kobra kai de Spotify -->	
			<div>
				<iframe src="https://open.spotify.com/embed/playlist/319IckC4rTXQOXGltjFxhn" width="260" height="415" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			</div>
		<!-- Discore del grupo -->
	    	<div>
				<iframe src="https://discord.com/widget?id=850462385801265214&theme=dark" width="250" height="400" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
			</div>	
			
			<!-- Publicidad sin miedo al exito -->
	    	<div>
				<iframe width="260" height="215" src="https://www.youtube.com/embed/md_FEjxAaEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>	
	
	</aside>
</body>
</html>