@charset "utf-8";
body{
background: -prefix-linear-gradient(left, black, yellow);
background: linear-gradient(to right, yellow, black);

}


img {
  max-width: 100%;
    border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#f {
	border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.card:hover {
  transform: scale(1.1);
   cursor: pointer;
}

.card {
  transition: transform 0.2s ease;
}

.card {
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 15px;

  border: 15px;
}

a img:hover{
	transform:scale(1.2);
}

/*FF*/
#f a img:holder{
	background-color: #e61700;
}

div ul li a:hover{
	transform:scale(1.2);
}
#card-deck-t img{
	
    height:120 px; 
    width: 600 px;
	
}

#senseiMotors h1{
text-align:center;
color: #fff;
background: none;
font-family: impact;
font-size: 70px;
letter-spacing: 0;
text-shadow: -3px -3px 3px yellow, 3px -3px 3px #000000, -3px 3px 3px #000000, 3px 3px 3px #efea10;
}








#alfa1{
		
		background: #3C3B3A  ;
		 margin: 0;
		  padding: 20px; 
		  background-size: cover;
		  font-family: sans-serif;
		  height: 250vh;	  
}

#alfa1 h1{
		
		color: #CCCAC5   ;
		text-align: center;
			  
}

#alfa1 label{
		
		color: #CCCAC5   ;
		
			  
}

#alfa1 button:hover{
		
		color: #3C3B3A   ;
		background-color: #FFC300;
		transform:scale(1.2);  
		 border: #10100F 3px solid;
}

#alfa1 button{
		
		color: #3C3B3A   ;
		background-color: #FFC300;
		border: #10100F 1px solid;
}
