<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Registro Nuevo S</title>
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/atn.css}"> <!-- El CSS de estilo -->
		<link rel="shortcut icon" href="/image/iconos/c5.png"><!-- icono de la pestaña -->
	</head>
	
	<body >
		<header th:replace="layout/header :: header"></header>
			
		
		<div class="container">
			<div class="row col-sm-12 col-md">
		
				<div   id=alfa1  class="col-sm12 col-md" style="border: solid;" >
					<h1 style="font-family: century gothic">Alta de un nuevo cliente</h1>
					
					
					<!--linea 24 Asociación con el controlador :acción que respondera -->
                     <form  th:action="@{/cliente/guardar}" method="post" th:object="${customer}">
					
							<input type="hidden" th:field="*{customerNumber}"> 

				<!--    	 <input type="hidden" th:field="*{cuenta.customerNumber}"> -->	
						 
					<!-- 	<div class="form-group row">
							    <label for="customerNumber" class="col-sm-2 col-form-label">Numero de Cliente</label>
							    <div class="col-sm-10">
							      <input type="number" class="form-control" id="customerNumber" th:field="*{customerNumber}"placeholder="Ingrese numero del cliente...">
							    </div>
<!-- en caso de error de V. 	<div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('customerNumber')}" th:errors="*{customerNumber}"></div>			    
							</div> -->		
							
							<div class="form-group row">
							    <label for="customerName" class="col-sm-2 col-form-label">Nombre de Cliente</label>
							    <div class="col-sm-10">
							      <input type="text" class="form-control" id="customerName" th:field="*{customerName}" placeholder="Ingrese nombre ...">
							    </div>
<!-- en caso de error de V. -->		<div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></div>	
							</div>
							
							<div class="form-group row">
							    <label for="contactLastName" class="col-sm-2 col-form-label">Apellido de contacto</label>
							    <div class="col-sm-10">
							      <input type="text" class="form-control" id="contactLastName" th:field="*{contactLastName}" placeholder="Ingrese  apellido...">
							    </div>
<!-- en caso de error de V. -->		<div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('contactLastName')}" th:errors="*{contactLastName}"></div>	
							</div>
							
							
							<div class="form-group row">
							    <label for="contactFirstName" class="col-sm-2 col-form-label">Nombre de contacto</label>
							    <div class="col-sm-10">
							      <input type="text" class="form-control" id="contactFirstName" th:field="*{contactFirstName}" placeholder="Ingrese nombre ...">
							    </div>
<!-- en caso de error de V. cds-->		<div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('contactFirstName')}" th:errors="*{contactFirstName}"></div>								    
							</div>
							
							  
							   
							    
							  <div class="form-group row">
							     <label for="phone" class="col-sm-2 col-form-label">Telefono</label>
								     <div class="col-sm-10">
								        <input type="number" class="form-control" id="phone" th:field="*{phone}">
								    </div>
<!-- en caso de error de V. -->		<div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>									    
							    </div>
							
							    
							<div class="form-group row">
							    <label for="addressLine1" class="col-sm-2 col-form-label">Dirección Línea 1</label>
							    <div class="col-sm-10">
							      <input type="text" class="form-control" id="addressLine1" th:field="*{addressLine1}" placeholder="Ingrese dirección...">
							    </div>
<!-- en caso de error de V. -->		<div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('addressLine1')}" th:errors="*{addressLine1}"></div>								    
							</div>
							
							<div class="form-group row">
							    <label for="addressLine2" class="col-sm-2 col-form-label">Dirección Línea 2</label>
							    <div class="col-sm-10">
							      <input type="text" class="form-control" id="addressLine2" th:field="*{addressLine2}" placeholder="Ingrese dirección...">
							    </div>
<!-- en caso de error de V. -->		<div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('addressLine2')}" th:errors="*{addressLine2}"></div>								    
							</div>
							
							
							<div class="form-group row">
							    <label for="city" class="col-sm-2 col-form-label">Ciudad</label>
							    <div class="col-sm-10">
							      <input type="text" class="form-control" id="city" th:field="*{city}" placeholder="Ingrese ciudad...">
							    </div>
<!-- en caso de error de V. -->		<div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>								    
							</div>
							
							<div class="form-group row">
							    <label for="state" class="col-sm-2 col-form-label">Provincia</label>
							    <div class="col-sm-10">
							      <input type="text" class="form-control" id="state" th:field="*{state}" placeholder="Ingrese estado...">
							    </div>
<!-- en caso de error de V. -->		<div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></div>								    
							</div>
							
							
							<div class="form-group row">
							    <label for="postalCode" class="col-sm-2 col-form-label">Codigo Postal</label>
							    <div class="col-sm-10">
							      <input type="number" class="form-control" id="postalCode" th:field="*{postalCode}" placeholder="Ingrese codigo postal...">
							    </div>
<!-- en caso de error de V. -->		<div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></div>								    
							</div>
							
							<div class="form-group row">
							    <label for="country" class="col-sm-2 col-form-label">Pais</label>
							    <div class="col-sm-10">
							      <input type="text" class="form-control" id="country" th:field="*{country}" placeholder="Ingrese pais...">
							    </div>
<!-- en caso de error de V. -->		<div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>								    
							</div>
						
							
							
							
							
							
							<!-- Ingreso  del numero del Empleado-->
						<div class="form-group ">

							<label for="salesRepEmployeeNumber" class="col-sm-2 col-form-label">Vendedor ID </label>

						    <select id="salesRepEmployeeNumber" th:field="*{salesRepEmployeeNumber.employeeNumber}">
						    <!-- Se nos enviara la lista de  employee-->
						      <option th:each = "e : ${employees}" selected
						      th:value="${e.employeeNumber}"
						      th:text="${e.employeeNumber }+ ' - ' + ${e.lastName}"
						      th:selected="false"
						      /> 	
						    </select>
						</div>
						
		
							
							<div class="form-group row">
							    <label for="creditLimit" class="col-sm-2 col-form-label">Limite de Credito</label>
							    <div class="col-sm-10">
							      <input type="number" class="form-control" id="creditLimit" th:field="*{creditLimit}" placeholder="Ingrese limite de credito..."  step="0.01">
							    </div>
<!-- en caso de error de V. -->		<div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('creditLimit')}" th:errors="*{creditLimit}"></div>								    
							</div>
							
							<button type="submit" class="btn btn-outline-dark">Enviar</button>
							
					</form>
					

				</div>
					
				<div class="Col col-md-2">
					<aside th:replace="layout/publicidad :: publicidad"></aside>
				</div>
			</div>	
		</div><br>
		<footer th:replace="layout/footer :: footer"></footer>
	
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1-lts/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
	</body>
</html>