<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Registro Empleado</title>
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/atn.css}">
		<link rel="shortcut icon" href="/image/infectado.png">
	</head>
	
	<body>
		<header th:replace="layout/header :: header"></header>
			
		
		<div class="container">
			<div class="row col-sm-12 col-md">
		
				<div id=alfa1 class="col-sm-12 col-md" style="border: solid;">
					<h1 style="font-family: century gothic">Alta de un nuevo empleado</h1>
						
							<div class="col-md-8 justify-content-left">
								<form th:action="@{/employee/busqueda}" th:object="${employee}" method="GET" >
									
									<div class="form-group row">
										<label for="employeeNumber" class="col-sm-3 col-form-label">A cargo de: </label>
										<div class="col-sm-5">
											<input type="number" class="form-control" id="employeeNumber" th:field="*{employeeNumber}">
										</div>
										
										<button type="submit" class="btn btn-success">Buscar</button>
									</div> 
																		
									
								</form>
							</div>
							
			
							
							<div class="col-sm-12 col-md-10"> 
								<div class="scrollme">
								<table class="table table-responsive table-hover" style="text-align: center; background-color: gray; color: white;">
									<thead style="background-color: black;"> 
										<tr id="miTablaEncabezado">
											<th>ID Empleado</th>
											<th>Apellido</th>
											<th>Nombre</th>
											<th>Extension</th>
											<th>Lugar de Oficina</th>
											<th>Titulo</th>
											
										
											<th>Acciones </th>
											
										</tr>
									</thead>
									<tbody>
										<tr id="miTablaContenido" th:each = "empS:${employeeSeleccionado}">
											<td th:text="${empS.getEmployeeNumber()}"></td>
											<td th:text="${empS.lastName}"></td>
											<td th:text="${empS.firstName}"></td>
											<td th:text="${empS.extension}"></td>
											<td th:text="${empS.office.city}"></td>
											<td th:text="${empS.jobTitle}"></td>
										
											<td>
												<a th:href="@{/employee/quitaropcion/}+${empS.employeeNumber}" class="btn btn-danger">Quitar</a>
											</td>
										</tr> 
									</tbody>
								
								</table>
								</div>
								
							</div>
						
						
						<form th:action="@{/employee/guardar}" method="post" th:object="${employee}" >
							
							<input type="hidden" th:field="*{employeeNumber}">  
							<!--  <input type="hidden" th:field="*{office.officeCode}">  -->
							
							<div class="form-group row">
							    <label for="lastName" class="col-sm-2 col-form-label">Apellido</label>
							    <div class="col-sm-10">
							      <input type="text" class="form-control" id="lastName" th:field="*{lastName}" placeholder="Ingrese apellido..." >
							    </div>
							    <!-- Validacion Apellido-->
							    <div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
							    
							</div>
							
							<div class="form-group row">
							    <label for="firstName" class="col-sm-2 col-form-label">Nombre</label>
							    <div class="col-sm-10">
							      <input type="text" class="form-control" id="firstName" th:field="*{firstName}" placeholder="Ingrese nombre...">
							    </div>
							    <!-- validacion Nombre -->
							    <div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
							    
							</div>
							
							<div class="form-group row">
							    <label for="extension" class="col-sm-2 col-form-label">Extension</label>
							    <div class="col-sm-10">
							      <input type="text" class="form-control" id="extension" th:field="*{extension}" placeholder="Ingrese extension...">
							    </div>
							    <!-- validacion Extension-->
							    <div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('extension')}" th:errors="*{extension}"></div>
							    
							</div>
							
							<div class="form-group row">
							    <label for="email" class="col-sm-2 col-form-label">E-mail</label>
							    <div class="col-sm-10">
							      <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Ingrese e-mail...">
							    </div>
							    <!-- validacion E-mail -->
							    <div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
							    
							</div>
							
							<div class="form-group row">
							    <label for="jobTitle" class="col-sm-2 col-form-label">Titulo</label>
							    <div class="col-sm-10">
							      <input type="text" class="form-control" id="jobTitle" th:field="*{jobTitle}" placeholder="Ingrese titulo...">
							    </div>
							    <!-- validacion Titulo -->
							    <div class = "form-text text-danger col-sm-10 offset-2" th:if="${#fields.hasErrors('jobTitle')}" th:errors="*{jobTitle}"></div>
							    
							</div>
							
						   
							<div class="form-group ">
								<label for="office" class="col-sm-2 col-form-label">Oficina</label>
							    <select id="office" name="office" th:field="*{office.officeCode}">
							      <option th:each = "offis : ${offices}" selected
							      th:value="${offis.officeCode}"
							      th:text="${offis.officeCode} + ' - ' + ${offis.city} + ' - ' + ${offis.state} + ' - ' + ${offis.country}"
							      th:selected="false"
							      />
							    </select>
							   
							</div>
							
							
							
																
							<button type="submit" class="btn btn-primary btn-sm">Guardar</button>
						
						</form>
						
							
				</div>
					
				<div class="Col col-md-2">
					<aside th:replace="layout/publicidad :: publicidad"></aside>
				</div>
			</div>	
		</div><br>
		<footer th:replace="layout/footer :: footer"></footer>
	
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1-lts/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
	</body>
</html>