<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
		<title>Carrito</title>
		<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/atn.css}">
		<link rel="shortcut icon" href="/image/iconos/c5.png"><!-- icono de la pestaña -->
	</head>
	<body>
	
		<header th:replace="layout/header :: header"></header>
	
		<div class="container">
						
			<div > 
				<h1 style="font-family: century gothic; color: aliceblue;">Carrito</h1>
			</div>
			
			<div class="row">
					<div class="col-sm-12 col-md-10"> 
						<div class="scrollme">
						<table class="table table-hover" style="text-align: center; background-color: gray; color: white;">
							<thead style="background-color: black;"> 
								<tr id="miTablaEncabezado">
								  
									<th>Factura Nº</th>
									<th>Producto</th>
									<th>Precio</th>
									<th>Cantidad</th>
									
									<th>SubTotal</th>
																
								</tr>
							</thead>
							<tbody>
								<tr id="miTablaContenido" th:each = "ords:${orderDetail}">
								    <!-- fila muesta la interacción -->
									<td th:text="${ords.id.orderNumber.orderNumber}"></td>  
									<td th:text="${ords.id.producCode.productName}"></td> 
									<td th:text="${ords.priceEach}"></td>
									<td th:text="${ords.quantityOrdered}"></td>
									
									<td th:text="${ords.getSubTotal()}"></td>
											
								</tr> 
							</tbody>
						
						</table>
						
						<h3 style="color: aliceblue;">TOTAL A PAGAR <p>$<spam th:text="${total}"></spam> </p></h3>
						<a th:href="@{/home}" class="btn btn-danger" style="color: aliceblue;">Confirmar</a>	
						</div>
					</div>
			
					<div class="col col-md-2">
						<aside th:replace="layout/publicidad :: publicidad"></aside>
					</div>
				</div>
			
		</div><br>
			
		<footer th:replace="layout/footer :: footer"></footer>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1-lts/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
	</body>
</html>