<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
<title>INICIO</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/atn.css}">
<link rel="shortcut icon" href="/image/iconos/c5.png"><!-- icono de la pestaña -->
<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="465939ef-d0fb-4945-a136-5f3db4a4981c";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</head>
<body>

	<header th:replace="layout/header :: header"></header>
	<div class="container">
		<div class="col display-4" style="font-family: century gothic; font-size: 4;">Productos destacados
		</div>
		<div class="row " >
			<div class="container row col-sm-12 col-md-10" align= center>
			<!-- veremos -->
			
			
		
				<div class="card"  style="width: 16rem; margin: 1rem ; ">
				  <img  src="/image/vender/a1.jpg" class="bs-card-img" alt="home"></img>
				  <div class="card-body">
				    <h5 class="card-title">Metropolitan 1500</h5>
				    <p class="card-text">
				      Este pequeñín hecho por Nash (también por Hudson, American Motors y Austin)
				      es un auto extraño para la época ya que su motor era de 1,200 o 1,500 cc que no llegaban a 60 Hp 
				    </p>
				      <a href="https://www.milanuncios.com/venta-de-coches-clasicos/austin-nash-metropolitan-austin-nash-metropolitan-332506620.htm" 
				     target="_blank" class="btn btn-dark"><img class="idIM" alt="Links" src="/image/iconos/carrito.png" width="75" height="70" /></a>
				  </div>
				</div>
				
				<div class="card"  style="width: 16rem; margin: 1rem ; ">
			<!--  	<a class="navbar-brand" th:href="https://www.youtube.com/watch?v=zXh9U2h2l_o"></a> -->
				  <img  src="/image/vender/a4.jpg" class="bs-card-img" alt="home"></img>
				  <div class="card-body">
				    <h5 class="card-title">Ford Super Deluxe Convertible</h5>
				    <p class="card-text">
				      Ford Super Deluxe convertible 1947. Ese mismo auto usado en la película es 
				      propiedad de Macchio y está tan bien conservado, que fue utilizado en Cobra Kai.
				    </p>
				      <a href="https://www.cargurus.com/es/l-Ford-Super-Deluxe-Usados-d2470#listing=285924450" 
				     target="_blank" class="btn btn-dark"><img class="idIM" alt="Links" src="/image/iconos/carrito.png" width="75" height="70" /></a>
				  </div>
				</div>
				
					<div class="card"  style="width: 16rem; margin: 1rem ; ">
				  <img  src="/image/vender/a3.jpg" class="bs-card-img" alt="home"></img>
				  <div class="card-body">
				    <h5 class="card-title">Cadillac Série 62 1951</h5>
				    <p class="card-text">
				      Tanto el familiar como el sedán de lujo están en la colección original del Sr. Miyagi (Pat Morita), sin embargo, el Pontiac 
				      no vuelve a la colección de Larusso en la serie Cobra Kai
				    </p>
				      <a href="https://www.catawiki.com/es/l/8170623-elegance-escala-1-43-cadillac-serie-62-1951-vehiculo-familiar-realizado-por-coachcraft" 
				     target="_blank" class="btn btn-dark"><img class="idIM" alt="Links" src="/image/iconos/carrito.png" width="75" height="70" /></a>
				  </div>
				</div>
				
				<div class="card"  style="width: 16rem; margin: 1rem ; ">
		
				  <img  src="/image/vender/a2.jpg" class="bs-card-img" alt="home"></img>
				  <div class="card-body">
				    <h5 class="card-title">Chevrolet Pickup 1942</h5>
				    <p class="card-text">
				      Esta es la pick-up en la que el Sr. Miyagi pone a manejar a Daniel con una confesión hecha por ambos: ninguno de los dos sabe manejar muy bien, ni tienen registro de conducir, un mal ejemplo que nos llega 
				      desde 1984 cuando se estrenó la zaga cinematográfica.
				    </p>
				      <a href="https://autos.mitula.com.ar/detalle/163/3740135606749683647/4/1/chevrolet-1942-pick-up-argentina?search_terms=chevrolet+1942+pick+up+argentina&page=1&pos=4&t_sec=1&t_or=2&t_pvid=e36f4c0b-1b6f-4786-b779-be2abb11088c&req_sgmt=REVTS1RPUDtTRU87U0VSUDs=" 
				     target="_blank" class="btn btn-dark"><img class="idIM" alt="Links" src="/image/iconos/carrito.png" width="75" height="70" /></a>
				  </div>
				</div>
				
				<div class="card"  style="width: 16rem; margin: 1rem ; ">
				  <img  src="/image/vender/a6.jpg" class="bs-card-img" alt="home"></img>
				  <div class="card-body">
				    <h5 class="card-title"> CHALLENGER </h5>
				    <p class="card-text">
				    El auto es rojo cuando Johnny lo obtiene, pero lo “tunea” durante la temporada dos de Cobra Kai.
                     El proceso de personalización del coche es una de las mejores secuelas de la historia, remarcando la renovada personalidad de Lawrence..
				    </p>
				      <a href="https://www.autocosmos.com.mx/catalogo/vigente/dodge/challenger" 
				     target="_blank" class="btn btn-dark"><img class="idIM" alt="Links" src="/image/iconos/carrito.png" width="75" height="70" /></a>
				  </div>
				</div>
				
				<div class="card"  style="width: 16rem; margin: 1rem ; ">
			
				  <img  src="/image/vender/a5.jpg" class="bs-card-img" alt="home"></img>
				  <div class="card-body">
				    <h5 class="card-title">deportivo Avanti Convertible</h5>
				    <p class="card-text">
				       automóvil deportivo fabricado por la Corporación Studebaker de South Bend, entre junio de 1962 y diciembre de 1963.
				    </p>
				      <a href="http://www.autosdeculto.com.ar/clasicos-studebaker-avanti/" 
				     target="_blank" class="btn btn-dark"><img class="idIM" alt="Links" src="/image/iconos/carrito.png" width="75" height="70" /></a>
				  </div>
				</div>
			
     
		
				</div>
					<div class="col col-md-2">
						<aside th:replace="layout/publicidad :: publicidad"></aside>
					</div>
				</div>
			</div>	
	
			
	
	<footer th:replace="layout/footer :: footer"></footer>
	
	<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1-lts/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
</body>
</html>